h1{
  position: absolute;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  margin-top: 15%;
  margin-left: 30%;
  color:black;
}

h2{
  position: absolute;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  margin-top: 21%;
  margin-left: 33%;
  color:black;
}

button{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 35%;
  height: 1cm;
  width: 2cm;
  border: solid 3px black;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: blueviolet;
  color: white;
  text-shadow: 2px 2px black;
  margin-left: 33%;
}